html{
    background-color: rgba(134, 165, 191, 0.894);
}

h1 {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: larger;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding: 15px;
}

.container {
    background-color: white;
    align-content: center;
    margin: auto;
}